.niceGradient {
    width: 100%;
    padding: 0 20px;
    .fishBox {
        width: 100%;
        height: 200px;
        background: linear-gradient(
            180deg,
            #edf7ff 6.51%,
            #fff 53.67%,
            #fbfdff 82.03%,
            #f2faff 93.87%
        );
        border-radius: 16px;
        box-shadow: 0 4px 10px rgb(125 168 207 / 35%), inset 0 -2px 0 #93b6d3,
            inset 0 -3px 2px #aecce4, inset 0 1px 1px #fff;
    }
    .autumn {
        width: 100%;
        height: 200px;
        background: linear-gradient(97deg, #6e8ff7 -5.93%, #597ef7 28.34%, #4765c6 75.81%, #5e7cdc 106.24%);
        border-radius: 16px;
    }
    .cartoon {
        width: 100%;
        height: 200px;
        border-radius: 16px;
        background: linear-gradient(180deg, #97ddff 0.38%, #6ac6ff 29.8%, #6bc4ff 69%, #82d5ff 104.99%);
        box-shadow: 0 2px 4px 0 rgba(51, 142, 239, 0.24), 0 -2px 0 0 #65b6ff inset;
    }
    .cosplay {
        width: 100%;
        height: 200px;
        border-radius: 36px;
        background: radial-gradient(
        256.54% 97.55% at 37.03% -7.34%,
        #f6f8fb 0%,
        #f2f5fb 50.04%,
        #dee5f2 96.26%
        );
        border: 1px solid #fff;
        box-shadow: inset 0 -3px 5px #fff, inset 0 4px 7px #bfcee9;
        backdrop-filter: blur(6.1535px);
    }
    .ribbons {
        width: 100%;
        padding: 12px 60px;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        text-align: center;
        background: linear-gradient(
            90deg,
            rgb(225 49 70 / 0%) 0%,
            rgb(225 49 70 / 80%) 15.29%,
            rgb(225 49 70 / 94%) 23.35%,
            rgb(225 49 70 / 98%) 49.13%,
            rgb(225 49 70 / 94%) 79.74%,
            rgb(225 49 70 / 80%) 86.79%,
            rgb(225 49 70 / 0%) 100%
          );
    }
}
